reference_data/.DS_Store
.DS_Store
*.env
*.ini
Pipfile.lock
op_rewards_tracking/csv_outputs/tvl_flows_by_token.csv
*.pyc
__pycache__/
helper_functions/get_op_chain_addresses_from_repo_ms_copy.ipynb
l2_economics/downloads
misc_analysis/downloads/
l1_base_fees/csv_inputs/
misc_analysis/derive_l2_tx_hash_WIP.ipynb
contracts_tracking/inputs/*.csv
