[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
jupyter = "*"
nbconvert = "*"
dune-client = "*"
python-dotenv = "*"
loguru = "*"
plotly = "*"
subgrounds = "1.5.0"
aiohttp_retry = "2.8.3"
kaleido = "*"
airtable = "*"
notion-client = "*"
notion-df = "*"

[dev-packages]

[requires]
python_version = "3.10.9"

[pipenv]
allow_prereleases = false
