version: 2.1

orbs:
  gcp-cli: circleci/gcp-cli@3.0.1
  utils: ethereum-optimism/circleci-utils@0.0.11

parameters:
  run_job:
    type: enum
    default: "select_job"
    enum:
      [
        "select_job",
        "run_daily_api_upload",
        "run_daily_metadata",
        "run_defillama_stablecoins",
        "run_general_l2",
      ]

commands:
  setup-python-env:
    steps:
      - run:
          name: Install uv
          command: |
            curl -LsSf https://astral.sh/uv/install.sh | sh
      - run:
          name: Set up Python
          command: uv python install
      - run:
          name: Install project dependencies
          command: uv sync --all-extras --dev

  setup-conda:
    steps:
      - run:
          name: Setup Conda
          command: |
            wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
            bash Miniconda3-latest-Linux-x86_64.sh -b

  setup-python-3-10:
    steps:
      - setup-conda
      - run:
          name: Setup Python 3.10
          command: |
            ~/miniconda3/bin/conda create -n py310 python=3.10 -y
            ~/miniconda3/bin/conda init bash            
            source ~/.bashrc

  checkout-dep-1:
    steps:
      - run:
          name: Clone repository and checkout branch with depth 1
          command: git clone --depth 1 "$CIRCLE_REPOSITORY_URL" --branch "$CIRCLE_BRANCH" .

jobs:
  general-l2:
    machine:
      image: ubuntu-2004:current
    steps:
      - checkout-dep-1
      - run:
          name: Setup GCP Credentials
          command: |
            # Decode credentials directly into environment variable without exposing them
            echo 'export BQ_APPLICATION_CREDENTIALS="$(echo $BQ_APPLICATION_CREDENTIALS_BASE64 | base64 --decode 2>/dev/null)"' >> $BASH_ENV
      - setup-python-3-10
      - run:
          name: Generate and run Python scripts
          command: |
            conda activate py310
            python3.10 -m pip install pipenv
            python3.10 -m pipenv install
            python3.10 -m pipenv run jupyter nbconvert --to python op_chains_tracking/dune_opchain_uploads.ipynb other_chains_tracking/get_filtered_deployers.ipynb other_chains_tracking/total_chain_data_to_uploads.ipynb

            cd op_chains_tracking
            python3.10 -m pipenv run python dune_opchain_uploads.py

            cd ../other_chains_tracking
            python3.10 -m pipenv run python get_filtered_deployers.py total_chain_data_to_uploads.py
      - utils/get-github-access-token
      - utils/github-commit-and-push-changes:
          commit-message: "GH Action Update - Agg Downloads"
          skip-ci: true
          folder: "."

  chain-metadata:
    machine:
      image: ubuntu-2004:current
    steps:
      - checkout-dep-1
      - setup-python-env
      - run:
          name: Chain Metadata
          command: uv run opdata chains chain_metadata_updates
          environment:
            OPLABS_ENV: prod
  deploy-github-pages:
    machine:
      image: ubuntu-2004:current
    steps:
      - checkout-dep-1
      - setup-python-env
      - run:
          name: Build Static Content
          command: make html
      # Copy directories to serve
      - run:
          name: Copy Directories To Serve
          command: |
            #this copies everything from the build directory to the docs directory
            make html-copies
            tmp_dir="/tmp/docs"
            mkdir -p $tmp_dir
            cp -r docs/* $tmp_dir
            touch $tmp_dir/.nojekyll

      - utils/get-github-access-token
      - utils/github-pages-deploy:
          force-push: true
          src-pages-dir: /tmp/docs

  defillama-stablecoins:
    machine:
      image: ubuntu-2004:current
    steps:
      - checkout-dep-1
      - setup-python-env
      - run:
          name: DefiLlama Protocol TVL
          command: uv run opdata pulls defillama_stablecoins
          environment:
            OPLABS_RUNTIME: "gha"
            OPLABS_ENV: "prod"

  defillama-protocols:
    machine:
      image: ubuntu-2004:current
    steps:
      - checkout-dep-1
      - setup-python-env
      - run:
          name: DefiLlama Protocol TVL
          command: uv run opdata pulls defillama_protocol_tvl
          environment:
            OPLABS_RUNTIME: "gha"
            OPLABS_ENV: "prod"

      - run:
          name: DefiLlama Historical Chain TVL
          command: uv run opdata pulls defillama_historical_chain_tvl
          environment:
            OPLABS_RUNTIME: "gha"
            OPLABS_ENV: "prod"

  daily-uploads-other-tasks:
    machine:
      image: ubuntu-2004:current
    steps:
      - checkout-dep-1
      - setup-python-env
      - run:
          name: L2Beat
          command: uv run opdata pulls l2beat
          environment:
            OPLABS_RUNTIME: "gha"
            OPLABS_ENV: "prod"

      - run:
          name: DefiLlama Stablecoins
          command: uv run opdata pulls defillama_stablecoins
          environment:
            OPLABS_RUNTIME: "gha"
            OPLABS_ENV: "prod"

      - run:
          name: DefiLlama DEX Volume, Fees, Revenue
          command: uv run opdata pulls defillama_dexs_fees_revenue
          environment:
            OPLABS_RUNTIME: "gha"
            OPLABS_ENV: "prod"

      - run:
          name: GitHub Analytics
          command: uv run opdata pulls github_analytics
          environment:
            OPLABS_RUNTIME: "gha"
            OPLABS_ENV: "prod"

      - run:
          name: GrowThePie Chain Summary
          command: uv run opdata pulls growthepie_chain_summary
          environment:
            OPLABS_RUNTIME: "gha"
            OPLABS_ENV: "prod"

      - run:
          name: DefiLlama Stablecoins BQ
          command: uv run opdata pulls defillama_stablecoins_bq
          environment:
            OPLABS_RUNTIME: "gha"
            OPLABS_ENV: "prod"

workflows:
  version: 2
  run-daily-api-uploads:
    when:
      or:
        - equal: [<< pipeline.parameters.run_job >>, "run_daily_api_upload"]
        - equal: [run_daily_api_upload, <<pipeline.schedule.name>>]
    jobs:
      - defillama-protocols:
          context: op-analytics
      - daily-uploads-other-tasks:
          context: op-analytics
  run-daily-metadata:
    when:
      or:
        - equal: [<< pipeline.parameters.run_job >>, "run_daily_metadata"]
        - equal: [run_daily_metadata, <<pipeline.schedule.name>>]
    jobs:
      - chain-metadata:
          context: op-analytics
  run-defillama-stablecoins:
    when:
      or:
        - equal:
            [<< pipeline.parameters.run_job >>, "run_defillama_stablecoins"]
    jobs:
      - defillama-stablecoins:
          context: op-analytics

  run-general-l2:
    when:
      or:
        - true
        - equal: [<< pipeline.parameters.run_job >>, "run_general_l2"]
    jobs:
      - general-l2:
          context:
            - op-analytics-legacy
            - circleci-repo-op-analytics

  merge-to-main:
    when:
      not:
        equal: [<< pipeline.trigger_source >>, "api"]
    jobs:
      - deploy-github-pages:
          context:
            - circleci-repo-op-analytics
            - op-analytics
          filters:
            branches:
              only: main
