apiVersion: batch/v1
kind: CronJob
metadata:
  name: op-analytics-ingestion
  namespace: op-analytics
  labels:
    app: op-analytics
    component: ingestion
spec:
  schedule: "8,38 * * * *"  # Runs every 30 mins
  concurrencyPolicy: Forbid 
  successfulJobsHistoryLimit: 3  # Retains successful jobs
  failedJobsHistoryLimit: 3      # Retains failed jobs  
  jobTemplate:
    spec:
      backoffLimit: 0
      ttlSecondsAfterFinished: null  # Prevents automatic cleanup
      template:
        metadata:
          annotations:
            "cluster-autoscaler.kubernetes.io/safe-to-evict": "false"      
        spec:
          restartPolicy: Never 
          serviceAccountName: op-analytics-service-account
          containers:
          - name: python-runner-ingestion
            imagePullPolicy: IfNotPresent
            image: ghcr.io/lithium323/op-analytics:v20250203.1
            command: ["tini", "-v", "--", "opdata"]
            args: ["chains", "noargs_ingest"]
            env:
            - name: OPLABS_ENV
              value: "prod"
            - name: OPLABS_RUNTIME
              value: "k8s"
            - name: GOLDSKY_FINAL
              value: "true"
            resources:
              limits:
                cpu: 1
                ephemeral-storage: 10Gi
                memory: 8Gi
              requests:
                cpu: 1
                ephemeral-storage: 10Gi
                memory: 6Gi
            volumeMounts:
            - mountPath: "/var/secrets"
              name: opanalyticsvault
          volumes:
          - name: opanalyticsvault
            csi:
              driver: secrets-store-gke.csi.k8s.io
              readOnly: true
              volumeAttributes:
                secretProviderClass: op-analytics-secret-provider-class
