apiVersion: batch/v1
kind: CronJob
metadata:
  name: op-analytics-ingestion
  namespace: op-analytics
  labels:
    app: op-analytics
    component: ingestion
spec:
  schedule: "8 * * * *"  # Runs every hour at minute 8
  concurrencyPolicy: Forbid 
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: op-analytics-service-account
          containers:
          - name: python-runner
            imagePullPolicy: IfNotPresent
            image: ghcr.io/lithium323/op-analytics:v20250115.2
            command: ["tini", "-v", "--", "opdata"]
            args: ["chains", "noargs_ingest"]
            env:
            - name: OPLABS_ENV
              value: "prod"
            - name: OPLABS_RUNTIME
              value: "k8s"
            - name: GOLDSKY_FINAL
              value: "true"
            resources:
              limits:
                cpu: 1
                ephemeral-storage: 10Gi
                memory: 6Gi
              requests:
                cpu: 1
                ephemeral-storage: 10Gi
                memory: 4Gi
            volumeMounts:
            - mountPath: "/var/secrets"
              name: opanalyticsvault
          restartPolicy: OnFailure 
          volumes:
          - name: opanalyticsvault
            csi:
              driver: secrets-store-gke.csi.k8s.io
              readOnly: true
              volumeAttributes:
                secretProviderClass: op-analytics-secret-provider-class
  successfulJobsHistoryLimit: 3  # Retains the last 3 successful jobs
  failedJobsHistoryLimit: 1      # Retains the last failed job