WITH

uops AS (
  SELECT
    block_number
    , transaction_hash
    , count(*) AS num_logs
  FROM account_abstraction__user_op_events
  GROUP BY 1, 2
)

, traces AS (
  SELECT
    block_number
    , transaction_hash
    , count(*) AS num_sender_subtraces
  FROM account_abstraction__user_op_sender_subtraces
  GROUP BY 1, 2
)

SELECT
  block_number
  , transaction_hash
  , uops.num_logs
  , traces.num_sender_subtraces
FROM uops FULL OUTER JOIN traces
  USING (block_number, transaction_hash)
WHERE
  -- Any of this being true means we have a problem.
  uops.num_logs > traces.num_sender_subtraces
  OR uops.num_logs IS NULL
  OR traces.num_sender_subtraces IS NULL
