-- Select the columns for joining back to transactions and sum event types
-- Calculate types of events emitted for downstream "qualified transaction" filtering

WITH event_emitting AS (
  SELECT
    l.dt,
    epoch_to_hour(l.block_timestamp) AS block_hour,
    l.block_timestamp,
    l.network,
    l.chain,
    l.chain_id,
    l.block_number,
    l.transaction_hash,

    count(*) AS count_total_events,
    sum(CASE WHEN f.category = 'Approval' THEN 1 ELSE 0 END) AS count_approval_events,
    sum(CASE WHEN f.category = 'Wrapping' THEN 1 ELSE 0 END) AS count_wrapping_events,
    sum(CASE WHEN f.category = 'Transfer' THEN 1 ELSE 0 END) AS count_transfer_events

  FROM ingestion_logs_v1 AS l
  LEFT JOIN logs_topic0_filters AS f
    ON l.topic0 = f.topic

  GROUP BY 1, 2, 3, 4, 5, 6, 7, 8
)

SELECT
  ee.*,

  t.transaction_index,

  t.transaction_type,

  -- Join Transaction Fields
  t.tx_fee_native,
  t.l1_fee_native,
  -- gas fees
  t.l2_fee_native,

  t.l1_base_fee_native,
  t.l1_blob_fee_native,

  t.l2_base_fee_native,
  t.l2_priority_fee_native,

  t.l2_legacy_extra_fee_native,
  t.input_byte_length,
  t.input_calldata_gas,
  -- transaction attributes
  t.l1_gas_used,
  t.receipt_gas_used,
  ee.count_total_events
  > ee.count_approval_events + ee.count_wrapping_events + ee.count_transfer_events
    AS is_qualified_tx_not_approval_wrapping_transfer,
  ee.count_total_events
  > ee.count_approval_events + ee.count_wrapping_events
    AS is_qualified_tx_not_approval_wrapping


FROM event_emitting AS ee
INNER JOIN refined_transactions_fees AS t
  ON
    ee.block_number = t.block_number
    AND ee.transaction_hash = t.hash
