SELECT
  l.*
  , t.from_address AS tx_from_address
  , t.to_address AS tx_to_address
  , hexstr_method_id(t.input) AS tx_method_id

FROM ingestion_logs_v1 AS l
INNER JOIN ingestion_transactions_v1 AS t
  ON
    l.block_number = t.block_number
    AND l.chain_id = t.chain_id
    AND l.transaction_hash = t.hash
WHERE
  l.topic0 = '{{ topic0_filter }}'
