SELECT
  t.dt
  , t.chain
  , t.chain_id
  , t.network
  , t.block_timestamp
  , t.block_number
  , t.block_hash
  , t.transaction_hash
  , t.transaction_index
  , t.trace_address
  , t.from_address
  , t.to_address
  , t.value_64 AS amount
  , t.value_lossless AS amount_lossless
  , substring(t.input,1,10) AS input_method_id
  , t.call_type
  , 'native' AS transfer_type

FROM {{ raw_traces }} AS t
WHERE 
  t.trace_type = 'call'
  AND (t.call_type NOT IN ('delegatecall', 'callcode', 'staticcall') OR t.call_type IS NULL)
  AND t.value_64 > 0
  AND t.status = 1
