-- Extend additional joins to base_transaction_fees
WITH base_refined AS (
  SELECT
    -- Transaction fields
    bt.*,

    COALESCE(eet.count_total_events,0) AS log_count_total_events,
    COALESCE(eet.count_approval_events,0) AS log_count_approval_events,
    COALESCE(eet.count_wrapping_events,0) AS log_count_wrapping_events,
    COALESCE(eet.count_transfer_events,0) AS log_count_transfer_events

  FROM base_transactions_fees AS bt
  LEFT JOIN event_emitting_transactions_list AS eet
        ON eet.block_number = bt.block_number
        AND eet.transaction_index = bt.transaction_index
        AND eet.transaction_hash = bt.hash
  WHERE 1=1
)

SELECT
  *
  , log_count_total_events > log_count_approval_events + log_count_wrapping_events + log_count_transfer_events AS is_qualified_tx_not_approval_wrapping_transfer
  , log_count_total_events > log_count_approval_events + log_count_wrapping_events AS is_qualified_tx_not_approval_wrapping

FROM base_refined