-- Base-Level Aggregation view to generate unique transaction & to combinations before we aggregate up

WITH get_transactions_by_call_type AS (
-- Tag Transactions by internal call types
SELECT dt, chain_id, block_number, transaction_hash
  , SUM(count_internal_calls_call_type) > 0 AS is_transaction_with_internal_call_type_call
  , SUM(coalesce(count_internal_calls_call_type,0)+coalesce(count_internal_calls_delegate_type,0)) > 0 AS is_transaction_with_internal_call_type_call_or_delegate
  FROM refined_trace_calls_agg_tr_from_tr_to_hash
  GROUP BY
  dt, chain_id, block_number, transaction_hash

)

, raw_aggregation AS (
SELECT 
dt, chain, network, chain_id,
  trace_to_address, transaction_hash, block_timestamp, block_number,
  tx_from_address, tx_to_address, tx_method_id
-- Transaction-Level gas & fees
  , tx_l2_gas_used
  , tx_fee_native, tx_l1_fee_native, tx_l2_fee_native
  , tx_l2_priority_fee_native, tx_l2_base_fee_native, tx_l2_legacy_extra_fee_native
  -- Transaction-Level Gas Prices
  , tx_l2_gas_price_gwei, tx_l2_base_gas_price_gwei, tx_l2_priority_gas_price_gwei, tx_l2_legacy_extra_gas_price_gwei
  , tx_l1_base_gas_price_gwei, tx_l1_blob_base_gas_price_gwei
  -- Transaction-Level transaction sizes
  , tx_input_byte_length, tx_input_zero_bytes, tx_input_nonzero_bytes
  , tx_l1_base_scaled_size, tx_l1_blob_scaled_size, tx_l1_gas_used_unified, tx_estimated_size
  -- Attributes
  , tx_success
  , is_system_transaction

-- Sum Internal Trace Gas
  , SUM(sum_trace_gas_used) AS sum_trace_gas_used
  , SUM(sum_trace_gas_used_minus_subtraces) AS sum_trace_gas_used_minus_subtraces
  , SUM(sum_tx_l2_fee_native_minus_subtraces) AS sum_tx_l2_fee_native_minus_subtraces
  , SUM(sum_tx_l2_base_fee_native_minus_subtraces) AS sum_tx_l2_base_fee_native_minus_subtraces
  , SUM(sum_tx_l2_priority_fee_native_minus_subtraces) AS sum_tx_l2_priority_fee_native_minus_subtraces
  , SUM(sum_tx_l2_legacy_base_fee_native_minus_subtraces) AS sum_tx_l2_legacy_base_fee_native_minus_subtraces

  , SUM(sum_tx_l2_gas_used_amortized_by_call) AS sum_tx_l2_gas_used_amortized_by_call
  , SUM(sum_tx_l1_gas_used_unified_amortized_by_call) AS sum_tx_l1_gas_used_unified_amortized_by_call
  , SUM(sum_tx_l1_base_scaled_size_amortized_by_call) AS sum_tx_l1_base_scaled_size_amortized_by_call
  , SUM(sum_tx_l1_blob_scaled_size_amortized_by_call) AS sum_tx_l1_blob_scaled_size_amortized_by_call
  , SUM(sum_tx_estimated_size_amortized_by_call) AS sum_tx_estimated_size_amortized_by_call

  , SUM(sum_tx_fee_native_amortized_by_call) AS sum_tx_fee_native_amortized_by_call
  , SUM(sum_tx_l2_fee_native_amortized_by_call) AS sum_tx_l2_fee_native_amortized_by_call
  , SUM(sum_tx_l1_fee_native_amortized_by_call) AS sum_tx_l1_fee_native_amortized_by_call
  , SUM(sum_tx_l2_base_fee_native_amortized_by_call) AS sum_tx_l2_base_fee_native_amortized_by_call
  , SUM(sum_tx_l2_priority_fee_native_amortized_by_call) AS sum_tx_l2_priority_fee_native_amortized_by_call

  , SUM(sum_tx_fee_native_l1_amortized_l2_minus_subtraces) AS sum_tx_fee_native_l1_amortized_l2_minus_subtraces

  -- Calls
  , SUM(count_top_level_calls) AS count_top_level_calls
  --count non-null trace addresses, null is the transaction-level call.
  , SUM(count_internal_calls_all_types) AS count_internal_calls_all_types
  , SUM(count_internal_calls_all_types_trace_success) AS count_internal_calls_all_types_trace_success
  --static calls only read state, and can not write
  , SUM(count_internal_calls_static_type) AS count_internal_calls_static_type
  , SUM(count_internal_calls_static_type_trace_success) AS count_internal_calls_static_type_trace_success
  --delegate calls call a function on another contract
  , SUM(count_internal_calls_delegate_type) AS count_internal_calls_delegate_type
  , SUM(count_internal_calls_delegate_type_trace_success) AS count_internal_calls_delegate_type_trace_success
  --normal function calls
  , SUM(count_internal_calls_call_type) AS count_internal_calls_call_type
  , SUM(count_internal_calls_call_type_trace_success) AS count_internal_calls_call_type_trace_success

FROM refined_trace_calls_agg_tr_from_tr_to_hash

GROUP BY
dt, chain, network, chain_id,
  trace_to_address, transaction_hash, block_timestamp, block_number,
  tx_from_address, tx_to_address, tx_method_id
-- Transaction-Level gas & fees
  , tx_l2_gas_used
  , tx_fee_native, tx_l1_fee_native, tx_l2_fee_native
  , tx_l2_priority_fee_native, tx_l2_base_fee_native, tx_l2_legacy_extra_fee_native
  -- Transaction-Level Gas Prices
  , tx_l2_gas_price_gwei, tx_l2_base_gas_price_gwei, tx_l2_priority_gas_price_gwei, tx_l2_legacy_extra_gas_price_gwei
  , tx_l1_base_gas_price_gwei, tx_l1_blob_base_gas_price_gwei
  -- Transaction-Level transaction sizes
  , tx_input_byte_length, tx_input_zero_bytes, tx_input_nonzero_bytes
  , tx_l1_base_scaled_size, tx_l1_blob_scaled_size, tx_l1_gas_used_unified, tx_estimated_size
  -- Attributes
  , tx_success
  , is_system_transaction

)

SELECT
ra.*,
  gt.is_transaction_with_internal_call_type_call,
  gt.is_transaction_with_internal_call_type_call_or_delegate

FROM raw_aggregation AS ra
  LEFT JOIN get_transactions_by_call_type AS gt
  ON ra.dt = gt.dt
  AND ra.chain_id = gt.chain_id
  AND ra.block_number = gt.block_number
  AND ra.transaction_hash = gt.transaction_hash
