SELECT
  r.*

  -- Parent trace fees.
  -- the subtraces will never add up to part of whole, but leave as is
  , r.gas_used_minus_subtraces * gwei_to_eth(t.l2_gas_price_gwei)
    AS tx_l2_fee_native_minus_subtraces

  , r.gas_used_minus_subtraces * gwei_to_eth(t.l2_base_gas_price_gwei)
    AS tx_l2_base_fee_native_minus_subtraces

  , r.gas_used_minus_subtraces * gwei_to_eth(t.l2_priority_gas_price_gwei)
    AS tx_l2_priority_fee_native_minus_subtraces

  , r.gas_used_minus_subtraces * gwei_to_eth(t.l2_legacy_extra_gas_price_gwei)
    AS tx_l2_legacy_base_fee_native_minus_subtraces

  -- Amortize evenly across all calls

  , t.l2_gas_used / r.num_traces_in_txn
    AS tx_l2_gas_used_amortized_by_call

  , t.l1_gas_used_unified / r.num_traces_in_txn
    AS tx_l1_gas_used_unified_amortized_by_call

  , t.l1_base_scaled_size / r.num_traces_in_txn
    AS tx_l1_base_scaled_size_amortized_by_call

  , t.l1_blob_scaled_size / r.num_traces_in_txn
    AS tx_l1_blob_scaled_size_amortized_by_call

  , t.estimated_size / r.num_traces_in_txn
    AS tx_estimated_size_amortized_by_call

  , t.tx_fee_native / r.num_traces_in_txn
    AS tx_fee_native_amortized_by_call

  , t.l2_fee_native / r.num_traces_in_txn
    AS tx_l2_fee_native_amortized_by_call

  , t.l1_fee_native / r.num_traces_in_txn
    AS tx_l1_fee_native_amortized_by_call

  , t.l2_base_fee_native / r.num_traces_in_txn
    AS tx_l2_base_fee_native_amortized_by_call

  , t.l2_priority_fee_native / r.num_traces_in_txn
    AS tx_l2_priority_fee_native_amortized_by_call


FROM {{ traces_with_gas_used }} AS r
INNER JOIN {{ refined_transactions_fees }} AS t
  ON
    r.block_number = t.block_number
    AND r.transaction_hash = t.hash
