name: Run OP Stack Metadata

on:
  schedule:
    - cron: '45 0 * * *'
  workflow_dispatch:
  pull_request:
    types: [closed]
    paths:
      - 'op_chains_tracking/inputs/**'
      - 'op_chains_tracking/clickhouse_builds/**'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      
      - name: Fetch latest changes
        run: git pull --rebase origin main
      
      - name: Display System Info
        run: |
          free -h
          df -h

      - name: Set up Python and Node.js
        uses: actions/setup-python@v2
        with:
          python-version: '3.10.11'
        env:
          node-version: '16'

      - name: Install pipenv
        run: |
          python -m pip install pipenv

      - name: Install Dependencies
        run: |
          pipenv install --dev

      - name: Generate py files
        working-directory: op_chains_tracking
        run: |
          pipenv run jupyter nbconvert --to python inputs/clean_chain_metadata_and_upload.ipynb
          pipenv run jupyter nbconvert --to python clickhouse_builds/create_matviews.ipynb
          pipenv run jupyter nbconvert --to python clickhouse_builds/create_superchain_data_view.ipynb
        # pipenv run jupyter nbconvert --to python clickhouse_builds/create_projections.ipynb
          
      - name: Generate Chain Metadata
        working-directory: op_chains_tracking/inputs
        run: |
          pipenv run python clean_chain_metadata_and_upload.py
        env:
          DUNE_API_KEY: ${{ secrets.DUNE_API_KEY }}
          IS_RUNNING_LOCAL: ${{ secrets.IS_RUNNING_LOCAL }}
          BQ_APPLICATION_CREDENTIALS: ${{ secrets.BQ_APPLICATION_CREDENTIALS }}
          BQ_PROJECT_ID: ${{ secrets.BQ_PROJECT_ID }}
          OP_CLICKHOUSE_HOST: ${{ secrets.OP_CLICKHOUSE_HOST }}
          OP_CLICKHOUSE_USER: ${{ secrets.OP_CLICKHOUSE_USER }}
          OP_CLICKHOUSE_PW: ${{ secrets.OP_CLICKHOUSE_PW }}
          OP_CLICKHOUSE_PORT: ${{ secrets.OP_CLICKHOUSE_PORT }}
      - name: Pull changes - Generate Chain Metadata
        run: |
          git pull origin main
      - name: Commit files - Generate Chain Metadata
        id: commit
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "github-actions"
          git add --all
          if [ -z "$(git status --porcelain)" ]; then
            echo "No changes to commit."
            echo "push=false" >> $GITHUB_OUTPUT
          else
            git commit -m "GH Action Update - Generate Chain Metadata" -a
            echo "push=true" >> $GITHUB_OUTPUT
          fi
        shell: bash
      - name: Push changes - Generate Chain Metadata
        if: steps.commit.outputs.push == 'true'
        uses: ad-m/github-push-action@master
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}

      # - name: Create Projections
      #   working-directory: op_chains_tracking/clickhouse_builds
      #   run: |
      #     pipenv run python create_projections.py
      #   env:
      #     OP_CLICKHOUSE_HOST: ${{ secrets.OP_CLICKHOUSE_HOST }}
      #     OP_CLICKHOUSE_USER: ${{ secrets.OP_CLICKHOUSE_USER }}
      #     OP_CLICKHOUSE_PW: ${{ secrets.OP_CLICKHOUSE_PW }}
      #     OP_CLICKHOUSE_PORT: ${{ secrets.OP_CLICKHOUSE_PORT }}

      - name: Create Matviews
        working-directory: op_chains_tracking/clickhouse_builds
        run: |
          pipenv run python create_matviews.py
        env:
          OP_CLICKHOUSE_HOST: ${{ secrets.OP_CLICKHOUSE_HOST }}
          OP_CLICKHOUSE_USER: ${{ secrets.OP_CLICKHOUSE_USER }}
          OP_CLICKHOUSE_PW: ${{ secrets.OP_CLICKHOUSE_PW }}
          OP_CLICKHOUSE_PORT: ${{ secrets.OP_CLICKHOUSE_PORT }}

      - name: Create Views
        working-directory: op_chains_tracking/clickhouse_builds
        run: |
          pipenv run python create_superchain_data_view.py
        env:
          OP_CLICKHOUSE_HOST: ${{ secrets.OP_CLICKHOUSE_HOST }}
          OP_CLICKHOUSE_USER: ${{ secrets.OP_CLICKHOUSE_USER }}
          OP_CLICKHOUSE_PW: ${{ secrets.OP_CLICKHOUSE_PW }}
          OP_CLICKHOUSE_PORT: ${{ secrets.OP_CLICKHOUSE_PORT }}

      - name: Pull changes - Matviews and Views
        run: |
          git pull origin main
      - name: Commit files - Matviews and Views
        id: commitmvv
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "github-actions"
          git add --all
          if [ -z "$(git status --porcelain)" ]; then
            echo "No changes to commit."
            echo "push=false" >> $GITHUB_OUTPUT
          else
            git commit -m "GH Action Update - Matviews and Views" -a
            echo "push=true" >> $GITHUB_OUTPUT
          fi
        shell: bash
      - name: Push changes - Matviews and Views
        if: steps.commit.outputs.push == 'true'
        uses: ad-m/github-push-action@master
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}