name: Daily API Uploads
run-name: ${{ github.event.created_at }}
on:
  schedule:
    - cron: '15 3 * * *'
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  run-defillama-protocols:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v2
      - name: Set up Python
        run: uv python install
      - name: Install the project
        run: uv sync --all-extras --dev

      - name: DefiLlama Protocol TVL
        run: uv run opdata pulls defillama_protocol_tvl
        env:
          OPLABS_RUNTIME: "gha"
          OPLABS_ENV: "prod"
          OP_ANALYTICS_VAULT: ${{ secrets.OP_ANALYTICS_VAULT }}

      - name: DefiLlama Historical Chain TVL
        run: uv run opdata pulls defillama_historical_chain_tvl
        env:
          OPLABS_RUNTIME: "gha"
          OPLABS_ENV: "prod"
          OP_ANALYTICS_VAULT: ${{ secrets.OP_ANALYTICS_VAULT }}


  run-other:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v2
      - name: Set up Python
        run: uv python install
      - name: Install the project
        run: uv sync --all-extras --dev

      - name: L2Beat
        run: uv run opdata pulls l2beat
        env:
          OPLABS_RUNTIME: "gha"
          OPLABS_ENV: "prod"
          OP_ANALYTICS_VAULT: ${{ secrets.OP_ANALYTICS_VAULT }}

      - name: DefiLlama Stablecoins
        run: uv run opdata pulls defillama_stablecoins
        env:
          OPLABS_RUNTIME: "gha"
          OPLABS_ENV: "prod"
          OP_ANALYTICS_VAULT: ${{ secrets.OP_ANALYTICS_VAULT }}

      # - name: DefiLlama DEX Volume, Fees, Revenue
      #   run: uv run opdata pulls defillama_dex_fees_revenue
      #   env:
      #     OPLABS_RUNTIME: "gha"
      #     OPLABS_ENV: "prod"
      #     OP_ANALYTICS_VAULT: ${{ secrets.OP_ANALYTICS_VAULT }}

      - name: GitHub Analytics
        run: uv run opdata pulls github_analytics
        env:
          OPLABS_RUNTIME: "gha"
          OPLABS_ENV: "prod"
          OP_ANALYTICS_VAULT: ${{ secrets.OP_ANALYTICS_VAULT }}

      - name: GrowThePie Chain Summary
        run: uv run opdata pulls growthepie_chain_summary
        env:
          OPLABS_RUNTIME: "gha"
          OPLABS_ENV: "prod"
          OP_ANALYTICS_VAULT: ${{ secrets.OP_ANALYTICS_VAULT }}          

      - name: DefiLlama Stablecoins
        run: uv run opdata pulls defillama_stablecoins_bq
        env:
          OPLABS_RUNTIME: "gha"
          OPLABS_ENV: "prod"
          OP_ANALYTICS_VAULT: ${{ secrets.OP_ANALYTICS_VAULT }}
